body {
	overflow:hidden;
	padding:0;
}
body, html {height:100%;}

#header {
	position:absolute; top:0; left:0; right:0; height: 2.5em; margin:0;
	background-color:#ccc;
}

#header a, #header span {
	position:relative;
	top:0.5em;
	margin-left:0.5em;
}

#header .menuItem {
	margin-left:5em;
}

#sidebar {
	position:absolute; left:0; top:2.5em; bottom:0; width: 30em; margin:0;
}

#main {
	position:absolute; left:30em; top:2.5em; bottom:0; right:0; margin:0;
}

#nodeEdit, #nodeView, #graph {
	width:100%;
	height:100%;
	display: block;
}

#nodeEdit, #nodeView {
	padding-left: 0.5em;
	resize: none;
	font-size: larger;
	overflow-y: scroll;
}

#graph path.link.plain {
	stroke: black;
	fill: none;
	stroke-width: 0.5;
}

#graph .node rect {
	fill:#ccc;
}

#graph .node.selected rect {
	fill:#fcc;
}

#graph .node text {
	font-size:28px;
	pointer-events:none;
}

#fileInput {
	display:none;
}

#nodeView .description {
	font-style: italic;
	background-color: LightGray;
}

#nodeView .link {
	text-decoration: underline;
}